@charset "utf-8";
/* CSS Document */

a img{
	border:none;
}

#galeria{
	list-style-type:none;
	margin: auto;
	width: auto;
	height: 200px;
	padding-top: 50px;	
	
	
	
}
#galeria li{
	float: left;
	padding: 5px;
	
}

.miniatura{
	filter: blur(10px);
}
